@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #1f2937;
    color: white;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    width: 100%;
}

.logo {
    width: 150px;
    height: auto;
}

.container1 {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.navbar {
    display: flex;
    gap: 40px;

}

.navbar a {
    color: white;
    text-decoration: none;
}


.container2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
    padding: 20px 120px;
}

.content {
    max-width: 50%;
}


.roger {
   height: 200px;
   width: auto;
   display: flex;

}

.container3 {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    padding: 30px;
}

.boxes {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 70px;
}

.box {
    text-align: center;
    width: 150px;
    color: grey;
    font-size: 12px;
}

.boxbox {
   width: 100%;
   height: 150px;
   border: 2px #3882f6 solid;
   border-radius: 20px;
}

h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

h2 {
    font-size: 18px;
    color: black;
}

h3 {
    font-size: 24px;
    color: #f9faf8;
}

.button1 {
    background-color: #3882f6;
    color: #f9faf8;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 10px;
}

.information-text {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.container4 {
    background-color: #e5e7eb;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.quote-text {
    font-size: 18px;
    color: #1f2937;
    font-style: italic;
    font-weight: 400px;
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 70%
}

.citat {
   font-size: 12px;
   display: flex;
   justify-content: flex-end;
   font-style: normal;
   font-weight: 900;

}

.container5 {
    background-color: white;
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 60px 0;
}

.boxbox2 {
    background-color: #3882f6;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    height: 100px;
    padding: 20px 90px;
    margin: 40px;
    color: white;
 }

.cont3ent h3 {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0;
    }

 .cont3ent p {
    font-size: 1em;
    margin: 5px 0 0;
    }

button {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    }    


   