@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #1f2937;
    color: white;
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 20px;
    width: 100%;
}

.logo {
    width: 150px;
    height: auto;
}

.container1 {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.navbar {
    display: flex;
    gap: 40px;

}

.navbar a {
    color: white;
    text-decoration: none;
}


.container2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-top: 50px;
}

.roger {
   height: 200px;
    width: auto;
}

.container3 {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    padding: 30px;
}

.boxes {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 70px;
}

.box {
    text-align: center;
    width: 150px;
    color: grey;
    font-size: 12px;
}

.boxbox {
   width: 100%;
   height: 150px;
   border: 2px #3882f6 solid;
   border-radius: 20px;
}

h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

h2 {
    font-size: 18px;
    color: black;
}

h3 {
    font-size: 24px;
    color: #f9faf8;
}

button {
    background-color: #3882f6;
    color: #f9faf8;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 10px;
}

.information-text {
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
}

.quote-section {
    background-color: #e5e7eb;
    padding: 20px;
}

.quote-text {
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    font-weight: 300;
}